<div id="calendar"></div>


<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	    $('#calendar').html();
		$('#calendar').fullCalendar({ events: '/events.json'});

		$('.fc-future, .fc-today').on('click', function(){
			console.log('toto');
			$("#modal-window").find(".modal-content").html("<%= j (render 'form', event: @event) %>");
			$("#modal-window").modal();
		});
	});

</script>
