<h1>Topology</h1>

<p id="error"><%= flash[:error] %></p>
<%= form_tag(pages_parse_file_path, method: "POST", multipart: true) do %>
  <%= file_field_tag 'parse_file' %>
  <%= submit_tag("Parse File") %>
<% end %>